@media only screen and (max-width: 991px) {
    body {
        cursor: auto;
    }

    nav ul {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    nav {
        bottom: 0;
        right: 0;
        left: 0;
        top: inherit;
        transform: none;
        background-color: #2b2a2a;
        padding: 2% 0;
    }

    nav ul li a {
        width: 8vw;
        height: 8vw;
        font-size: 3vw;
        background-color: #111111;
        border-radius: 4.8vw
    }

    nav ul li a span {
        display: none;
    }

    nav ul li:hover>a {
        border-radius: 3.4vw;
    }

    .main_cursor,
    .cursor {
        display: none;
    }


    #main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background: linear-gradient(69deg, #111111 26%, #111111 18%);
        gap: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile_img {
        width: 270px;
        height: 270px;
        margin: 0 auto;
        border-radius: 50%;
        border: 4px solid #252525;
        box-shadow: none;
    }

    .profile_name h2 {
        text-align: center;
    }

    .profile_name p {
        text-align: center;
    }

    .profile_name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col_sm88 {
        align-items: self-start;
    }
}